body {
	background-color: #0f0f0f;
}

#header {
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	height: 100px;
	color: white;
	text-align: center;
	padding: 10px;
}

button {
	border: 0px;
	color: white;
	width: 250px;
}

#button1 {
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	border: 0px;
	color: white;
	width: 250px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#button2 {
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	border: 0px;
	color: white;
	width: 250px;
}

#button3 {
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	border: 0px;
	color: white;
	width: 250px;
	height: 300px;
}

a {
	color: white;
	text-decoration: none;
}

#all {
	color: white;
	text-align: center;
}

table {
	margin-left:auto;
	margin-right:auto;
	border-spacing: 10px;
}

#img {
	height: 200px;
	width: 200px;
}

#imglong {
	height: 180px;
	width: 70px;
}

#imglong2 {
	height: 180px;
	width: 150px;
}

#imgwide {
	height: 200px;
	width: 200px;
}