body{
	margin:0;
    padding:0;
    background-color: #0f0f0f;

}

*{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
}

h2{
	text-align: center;
	color: #ffffff;
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.quiz_wrapper{
	height: 400px;
	width: 650px;
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	margin:50px auto;
	border-radius: 8px;
	padding: 30px;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color: #009ACD;
	border-radius: 8px;
	color:#ffffff;
	font-size:20px;
	float: left;
	width: 100%;
}

.quiz_wrapper .options{
	float: left;
	width: 100%;
	font-size:20px;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:#009ACD;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	margin-top: 25px;
	font-size: 15px;
	color:#ffffff;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.quiz_wrapper .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	
}

.quiz_wrapper .options ul li.correct{
	background-color: #0fd40f;
	box-shadow: 0px 3px 0px #03a503;
}

.quiz_wrapper .options ul li.wrong{
	background-color: #e91e1e;
	box-shadow: 0px 3px 0px #cb0b0b;
}



.quiz_wrapper .score{
	float: left;
	width: 100%;
	padding:25px 0px;
}

.quiz_wrapper .score .next{
	width: 40%;
	float: left;
}

.quiz_wrapper .score .next button{
	padding: 15px 80px;
	color:white;
	background-color:#ff9800;
	border:none;
	border-radius:8px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 3px 0px #c97a06;
	outline: none;
}

.quiz_wrapper .score .next button:active{
    box-shadow: 0px 3px 0px transparent;	
}

.quiz_wrapper .score .score-card{
	width: 60%;
	float: left;
}

.quiz_wrapper .score .score-card{
	font-size: 20px;
	color:white;
	line-height: 50px;
	text-transform: uppercase;
}

.quiz_wrapper .score .score-card span{
	background-color: #009ACD;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;
}

#button1 {
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	border: 0px;
	color: white;
	width: 250px;
}

#button2 {
	background-color: #009ACD;
	border: 0px;
	color: white;
	width: 250px;
}

#button3 {
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	border: 0px;
	color: white;
	width: 250px;
	height: 300px;
}

#button4 {
	background-image: linear-gradient(to bottom right, #00BFFF, #009ACD);
	color: white;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	width: auto;
	padding: 1%;
	font-size: large;
	border-radius: 8px;
	display: block;
	position: middle;
}

a {
	color: white;
	text-decoration: none;
}

#all {
	color: white;
	text-align: center;
}

table {
	margin-left:auto;
	margin-right:auto;
}


#img {
	height: 200px;
	width: 200px;
}

#imglong {
	height: 200px;
	width: 75px;
}

#imgwide {
	height: 150px;
	width: 150px;
}

#img {
	height: 200px;
	width: 200px;
}

#imglong {
	height: 180px;
	width: 70px;
}

#imglong2 {
	height: 180px;
	width: 150px;
}

#imgwide {
	height: 150px;
	width: 150px;
}