body {
    margin: 0px;
    background-color: #f1f1f1;
}

#header {
    background-color: #0099E6;
    color: white;
    text-align: center;
    padding: 10px;
}

#button1 {
    background-color: #0099E6;
	border: 0px;
	color: white;
	width: 250px;
    height: 300px;
}

#button2 {
    background-color: #f1f1f1;
	border: 0px;
	color: grey;
	width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#button3 {
    background-color: #0099E6;
    color: white;
    border: none;
    width: 5%;
    height: 50px;
    margin-left:47.5%;
    margin-right:47.5%;
    cursor: pointer;
}

#button1:hover {
    background-color: #0088cc;
 }

 #button2:hover {
    background-color: #e6e6e6;
 }

 #button3:hover {
    background-color: #0088cc;
 }

#img {
	height: 150px;
	width: 150px;
}

table {
	margin-left:auto;
    margin-right:auto;
	border-spacing: 10px;
}

#subheading {
    color: grey;
    padding-left: 20px;
}

#subheading2 {
    color: grey;
    text-align: center;
}

a {
    text-decoration: none;
}

#marquee {
    background-color: #0088cc;
    color: white;
    padding: 10px;
}

footer {
    bottom:0;
    background: #0099E6;
    margin: 0px;
    text-align: center;
    padding: 10px;
    color: white;
 }

 #my{
    zoom: 100%;
    }