body {
    margin: 0px;
    background-color: #f1f1f1;
}

#header {
    background-color: #0099E6;
    color: white;
    text-align: center;
    padding: 10px;
}

#button1 {
    background-color: #0099E6;
	border: 0px;
	color: white;
	width: 250px;
    height: 300px;
}

#button2 {
    background-color: none;
	border: 0px;
	color: grey;
	width: 100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#img {
	height: 150px;
	width: 180px;
}

table {
	margin-left:30%;
	margin-right:auto;
	border-spacing: 10px;
}

h2 {
    color: grey;
    margin: 10px;
}

a {
    text-decoration: none;
}