body {
    margin: 0px;
    background-color: #f1f1f1;
}

#header {
    background-color: #0099E6;
    color: white;
    text-align: center;
    padding: 10px;
}

#button1 {
    background-color: #0099E6;
	border: 0px;
	color: white;
	width: 250px;
    height: 300px;
}

#button2 {
    background-color: #f1f1f1;
	border: 0px;
	color: grey;
	width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#button3 {
    background-color: #0099E6;
    color: white;
    border: none;
    width: 15%;
    height: 75px;
    margin-left:42.5%;
    margin-right:42.5%;
    cursor: pointer;
}

#button1:hover {
    background-color: #0088cc;
 }

 #button2:hover {
    background-color: #e6e6e6;
 }

 #button3:hover {
    background-color: #0088cc;
 }

#img {
	height: 150px;
	width: 150px;
}

table {
	margin-left:auto;
    margin-right:auto;
    padding-left: 5%;
	border-spacing: 10px;
}

#subheading {
    color: grey;
    padding-left: 20px;
}

#subheading2 {
    color: grey;
    text-align: center;
}

a {
    text-decoration: none;
}

#marquee {
    background-color: #0088cc;
    color: white;
    padding: 10px;
}

footer {
    bottom:0;
    background: #0099E6;
    margin: 0px;
    text-align: center;
    padding: 10px;
    color: white;
}

.collapsible {
    background-color: #0088cc;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    padding-left: 20px;
  }
  
  .content {

  }

.topnav li a{
      color: white;
      padding: 10px;
}

.topnav li {
    list-style: none;
    text-align: center;
    padding: 10px;
    font-size: large;

}

.topnav {
      background-color: #0099E6;
      padding: 0px 0px;
      display: none;
      overflow: hidden;
      width: 100%;
      padding-left: 0px;
  }

  .topnav a:hover {
    background-color: #0088cc;
}